.body {
    font-family: "Roboto", sans-serif;
    color: #434455
    background-color: #FFFFFF;
}

.link {
text-decoration: none;
}

[type] {
color: 4D5AE5
}
.header-logo {
    color: blue;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.list {
    list-style-type: none;
}
.header-logo-web {
    font-family: "Raleway", sans-serif;
    color: tomato;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.167;
    letter-spacing: 0.03em;

}
.studio-web {
    color: navy;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em
}
.contact:hover {
    color: tomato;
}

.hero {
    background-color: rgba(17, 17,17, 0.6);
}
.hero-solution {
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.071;
    letter-spacing: 0.03em;
}
.order {
    font-family: inherit;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .Strategy {
    color: blue;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .Strategy-item {
    color: aquamarine;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .what {
    color: blue;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
  }
  .team {
    color: blue;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
  }
  .team-item {
    color: blue;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
  }
  .footer-item {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: 0.02em;
  }