:root {
  --main-cl: #111111;
}

.body {
font-family: "Roboto", sans-serif;
  color: #434455
  background-color: #FFFFF;
  
}

.link {
text-decoration: none;
}

[type] {

color: 4D5AE5;

}

.header-logo-item {
    color: blue
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800px;
    line-height: 1.17;
    letter-spacing: 0.03em;
 }

.list {
    list-style-type: none;
}
.header-logo-web {
    font-family: "Raleway", sans-serif;
    background-color:#2e2f42
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase

}
.header-logo-web:hover {
  color: #4d5ae5;
  background-color: #2e2f42;
}


.studio-web {
  font-family: "Roboto";
    color: navy;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.contact:hover {
  font-family: "Roboto";
    color: tomato;
}

.hero {
    background-color: #2e2f42 
}
.hero-solution {
  font-family: "Roboto";
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.071;
    letter-spacing: 0.03em;
}
.order {
  font-family: "Roboto";
    font-family: inherit;
    color: white;
    font-size: 16px;
    font-weight: 500 px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.visually-hidden {
  font-family: "Roboto";
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .Strategy {
    font-family: "Roboto";
    color: blue;
    font-size: 20px;
    font-weight: 500px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .Strategy-item {
    font-family: "Roboto";
    color: aquamarine;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .what {
    font-family: "Roboto";
    color: blue;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
  }
  .team {
    font-family: "Roboto";
    color: blue;
    font-size: 36px;
    font-weight: 700px;
    line-height: 1.12;
    letter-spacing: 0.02em;
  }
  .team-item {
    font-family: "Roboto";
    color: blue;
    font-size: 36px;
    font-weight: 700px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }

  .footer-item {
    background-color: #2e2f42;
    font-family: 'Raleway', sans-serif,;
    color: white;
    font-size: 16px;
    font-weight: 800px;
    letter-spacing: 0.02em;
  }
  .header-logo-studio {
color: #f4f4fd ;
  }
  .header-logo-studio:hover {
    color: #4d5ae5;
  }
  .header-logo-hero {
    color: #4d5ae5;
  }